<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.course.mapper.CoursePurchaseMapper">

    <select id="countPurchaseDataByDay" resultType="com.course.common.CountResult" parameterType="com.course.entity.CoursePurchase">
        select MONTH(created_time) as month, DAY(created_time) as day,count(1) as counts
        from course_purchase
        where created_time &gt; #{time1}
        and created_time &lt; #{time2}
        GROUP BY MONTH(created_time), DAY(created_time)
    </select>

    <select id="countPurchaseDataByMonth" resultType="com.course.common.CountResult" parameterType="com.course.entity.CoursePurchase">
        select MONTH(created_time) as month,count(1) as counts
        from course_purchase
        where created_time &gt; #{time1}
        and created_time &lt; #{time2}
        GROUP BY MONTH(created_time)
    </select>

</mapper>
